/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
:root {
  --primary-bg: #ffffff;
  --secondary-bg: #f9f9f9;
  --accent-color: #000000;
  --text-primary: #1a1a1a;
  --text-secondary: #666666;
  --transition: all 0.3s ease;
}
